/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border:none;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
  background: #f10a0a;
  cursor: pointer;
}

.Welcome-title {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #2e2f42;
}

/* ============================TIMER================================== */

.input-timer {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 280px;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
  padding-left: 10px;;
}

.input-timer:hover {
  border: 1px solid #000;
}

.input-btn {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  color: #fff;
  border:none;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
}

.input-btn:hover {
  background: #6c8cff;
}

.input-btn:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin-top: 32px;
}

.value {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.label {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}

